# Go stuff
/bin/
/build/
*.exe
*.out
*.test

# Binários gerados
RVContabilidadeBack
rvcontabilidade
main

# IDEs
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Dependências Go
go.sum
vendor/

# Ficheiros de ambiente
.env

# Uploads locais
/uploads/
